.category-card {
  cursor: pointer;
  border-radius: 0.8rem;
  text-align: center;
  background-color: var(--card);
  box-shadow: var(--shadow);
  padding: 1rem;
  transition: all 0.2s ease;
}

.category-card:hover,
.category-card.selected {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary);
}
