label {
  color: #cbd5e1;
  font-weight: 500;
  font-size: 0.9rem;
}

input {
  border-radius: 0.4rem !important;
  border: 1px solid #64748b !important;
  background: #1e293b !important;
  color: white !important;
}

input:focus {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}
